/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

/* Background and overlay */
.background {
    background-image: url('mountains.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Makes the background stay in place while scrolling */
    position: fixed; /* Positions the background outside the normal flow */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: rgba(255, 255, 255, 0.1);
}

header h1 {
    color: #00d9ff;
    font-size: 1.5em;
}

header nav a {
    color: #fff;
    margin-left: 1.5em;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9em;
}

header nav a:hover {
    color: #00e1ff;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

/* About Me Section */
.about-section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable scrolling */
    margin: 2em auto;
    padding: 2em;
    color: #333; 
    min-height: 500px; 
    height: auto; /* Allows the section to expand */
}

.about-content {
    flex: 1;
    padding-right: 20px; /* Add spacing between text and image */
}

.about-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.personal-info {
    margin-top: 20px;
}

.personal-info p {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.personal-info p strong {
    color: #000;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-image img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

